name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.0'

    - name: Verify dependencies
      run: go mod verify
      working-directory: ./auth-service

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        working-directory: ./auth-service

    - name: Run Unit Tests
      run: go test -v ./...
      working-directory: ./auth-service

    - name: Build Docker Image
      run: docker build . --file Dockerfile --tag auth-service:latest
      working-directory: ./auth-service
